.venv
.idea
__pycache__/config.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/server.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/network.cpython-312.pyc
